@import url('https://fonts.googleapis.com/css?family=Niramit|Roboto');

// Fonts
$heading-font: 'Roboto', sans-serif;
$main-font: 'Niramit', sans-serif;

// Colours
$primary-color: rgba(212,138,170,0.4);
$secondary-color: rgba(234,240,237,0.3);