#scoreboardTable{ 
    width: 100%;
    background-color: rgba(240,238,236,0.5);
    text-align: center;
    .teamName{
        text-align: left;
    }
    img{
        height: 50px;
        width: 50px;
    }
}